[Unit]
Description=Enable LeptonPRU pins
After=generic-board-startup.service

[Service]
Type=oneshot
ExecStart=/home/debian/enable-leptonpru-pins.sh
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
